@import "material-box-shadow.scss";

#firebaseui-auth-container {
    button {
        border-radius: 8px;
        @include MaterialBoxShadow(4);
    }
    button:hover {
        @include MaterialBoxShadow(8);
    }
    button:active,
    button:focus {
        @include MaterialBoxShadow(2);
    }
    a {
        color: #f9a825;
    }
}
