@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@import "material-box-shadow.scss";

$header-height: 64px;
$controls-height: 48px;
$app-max-width: 500px;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	background-color: lighten(#eaeaea, 5%);
}

header {
	position: fixed;
	top: 0;
	left: 50%;
	width: 100vw;
	max-width: $app-max-width;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $header-height;
	border-radius: 0px;
	padding: 0 16px;
	background-color: #111111;
	color: white;
	@include MaterialBoxShadow(4);
	@media screen and (min-width: 500px) {
		border-radius: 0 0 16px 16px;
	}
	h1 {
		font-family: "Quicksand", sans-serif;
		font-size: 1.5em;
	}
}

section {
	margin-top: $header-height;
}

section#signIn {
	height: calc(100vh - #{$header-height});
	display: grid;
	place-items: center;
}

.signIn-button {
	margin: 8px;
	padding: 8px 16px;
	border: 2px solid #4285f4;
	color: #1d1d1d;
	border-radius: 8px;
	cursor: pointer;
	background-color: lighten(#f1f1f1, 0%);
	transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out;
	user-select: none;
	@include MaterialBoxShadow(4);
}
.signIn-button:hover {
	background-color: lighten(#f1f1f1, 1%);
	@include MaterialBoxShadow(8);
}
.signIn-button:active {
	background-color: darken(#f1f1f1, 1%);
	@include MaterialBoxShadow(2);
}

.signOut-button {
	user-select: none;
	cursor: pointer;
}

section#chatbot {
	height: calc(100vh - #{$header-height} - #{$controls-height});
	overflow: scroll;
	max-width: $app-max-width;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	margin-top: $header-height;
	padding-bottom: $controls-height;

	.messages {
		margin-right: 8px;
		margin-left: 8px;
		display: flex;
		flex-flow: column nowrap;
		margin-top: 8px;
		margin-bottom: 8px;
		.message {
			padding: 8px;
			margin: 4px;
			background-color: lightblue;
			opacity: 1;
			transition: opacity 250ms ease-in-out;
			@include MaterialBoxShadow(1);
			img {
				border-radius: 16px;
				max-width: 500vw;
				width: 200px;
			}
		}
		.message.hidden {
			opacity: 0;
		}
		.message.client {
			align-self: flex-end;
			background-color: #333333;
			margin-left: 48px;
			border-radius: 14px 14px 6px 14px;
			color: white;
		}
		.message.bot {
			align-self: flex-start;
			background-color: #f9a825;
			margin-right: 48px;
			border-radius: 14px 14px 14px 6px;
			color: black;
		}
	}
}

.controls {
	@include MaterialBoxShadow(2);

	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	height: $controls-height;
	width: 100vw;
	max-width: $app-max-width;
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-areas: ". .";
	background-color: #ffffff;

	@media screen and (min-width: 500px) {
		border-radius: 16px 16px 0 0;
	}

	#input {
		// position: absolute;
		// bottom: 0;
		// left: 0;
		height: $controls-height;
		border: none;
		padding: 0 16px;
		outline: none;
		background-color: white;
		@media screen and (min-width: 500px) {
			border-top-left-radius: 16px;
		}
	}

	#submit {
		// position: absolute;
		// bottom: 0;
		// right: 0;
		height: $controls-height;
		border: none;
		outline: none;
		transition: background-color 350ms ease-in-out;
		background-color: #d1d1d1;
		cursor: pointer;
		@media screen and (min-width: 500px) {
			border-top-right-radius: 16px;
		}
	}
	#submit:hover {
		background-color: #dddddd;
	}
	#submit:active {
		background-color: #c4c4c4;
	}
}
