@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
/* 

https://material.io/design/environment/elevation.html#elevation-in-material-design
Component elevation values
1. Nav drawer: 16dp
2. App bar: 4dp
3. Card: 1dp to 8dp
4. FAB: 6dp
5. Button: 2dp to 8dp
6. Dialog: 24dp

*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #eaeaea;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 64px;
  border-radius: 0px;
  padding: 0 16px;
  background-color: #111111;
  color: white;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

header h1 {
  font-size: 1.5em;
}

section {
  margin-top: 64px;
}

section#signIn {
  height: calc(100vh - 64px);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.signIn-button {
  margin: 8px;
  padding: 8px 16px;
  border: 2px solid #4285f4;
  color: #1d1d1d;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
}

.signOut-button {
  cursor: pointer;
}

section#chatbot {
  height: calc(100vh - 64px - 48px);
  overflow: scroll;
}

section#chatbot .messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-top: 8px;
  margin-bottom: 8px;
}

section#chatbot .messages .message {
  padding: 8px;
  margin: 4px;
  background-color: lightblue;
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

section#chatbot .messages .message.hidden {
  opacity: 0;
}

section#chatbot .messages .message.client {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #333333;
  margin-left: 48px;
  border-radius: 14px 14px 6px 14px;
  color: white;
}

section#chatbot .messages .message.bot {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #f9a825;
  margin-right: 48px;
  border-radius: 14px 14px 14px 6px;
  color: black;
}

section#chatbot .controls {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  left: 0;
  height: 48px;
  width: 100vw;
}

section#chatbot .controls #input {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 48px;
  width: calc(100vw - 64px);
  border: none;
  padding: 0 16px;
  outline: none;
  background-color: white;
}

section#chatbot .controls #submit {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 48px;
  width: 64px;
  border: none;
  outline: none;
  -webkit-transition: background-color 350ms ease-in-out;
  transition: background-color 350ms ease-in-out;
  background-color: #d1d1d1;
  cursor: pointer;
}

section#chatbot .controls #submit:hover {
  background-color: #dddddd;
}

section#chatbot .controls #submit:active {
  background-color: #c4c4c4;
}
/*# sourceMappingURL=main.css.map */